<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || " " %> - zenleague | Your cognitive playground</title>
    
    <!--foundation includes-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--this is where scripts.html is applied-->
    <%= partial 'scripts' %>
    <!---->
  </head>
  
  <body class="<%= page_classes %>">
    <!--this is where header.html is applied-->
    <%= partial 'header' %>
    <!---->
    <!--this is where contents (index.html, sign-up.html, etc) is applied-->
    <div class="contents">
    <%= yield %>
    </div>
    <!---->
    <!--this is where footer.html is applied-->
    <%= partial 'footer' %>
    <!---->
  </body>
</html>