{% extends "selmer/mainpages/base.html" %}

{% block foo %}
   <div id="main-content-aih" class="medium-12 medium-centered columns">
	   <fieldset>
		   <legend>
			   <h4>The ranks</h4>
		   </legend>
		   <table class="medium-centered columns">
			   <thead>
			   <td>Rank</td>
			   <td>Username</td>
			   <td>Solved</td>
			   <td>Score</td>
			   <td>Twitter</td>
			   <td>Languages</td>
			   <td>Date registered</td>
			   </thead>
			   {% for user in users %}
			   <tr>
				   <td>{{user.rank}}</td>
				   <td>{{user.username}}</td>
				   <td>{{user.solved}}</td>
				   <td>{{user.score}}</td>
				   <td>
					   <a href="http://www.twitter.com/{{user.twitter}}" target="_blank">
						   {{user.twitter}}
					   </a>
				   </td>
				   <td>{{user.languages}}</td>
				   <td>{{user.date}}</td>
			   </tr>
			   {% endfor %}
		   </table>
	   </fieldset>
   </div>
{% endblock %}